<div class="container mt-5">
    
    @if(ViewBag.SlotBookingMsg.Length>0)
    {
        <div class="text-center">
            <h5 class="text-center">
                @ViewBag.SlotBookingMsg
            </h5>

            <a href="javascript:history.back()" class="mt-5">Go Back</a>

        </div>
    }
    
</div>