@model IEnumerable<VaxTrack_v1.Models.HospitalDetailsModel>

@foreach (var item in Model)
{
    <tr>
        <td>@item.HospitalId</td>
        <td>@item.HospitalName</td>
        <td>@item.SlotsAvailable</td>
        <td>
            <input type="number" id="increaseSlots_@item.HospitalId" class="slot-update-input" />
            <button type="button" id="increaseSlots" onclick="increaseSlots(@item.HospitalId)" class="slot-update-btn">Increase</button>
        </td>
    </tr>
}
