<div class="container">

    <div class="row">

        <div>
            <h5 style="color: white;" class="text-center">Opops Something Went Wrong, refresh or go back.</h5>
            <a style="color:aqua" href="javascript:void(0);" onclick="window.history.back();" class="">Go Back</a>
        </div>

    </div>

</div>