html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* nav bar */
.user-logout-btn{
  background-color: sandybrown;
  border: 1px solid sandybrown;
  border-radius: 10px;
  margin-top: 5px;
  transition: 0.5s ease-in-out;
}

.user-logout-btn:hover{
  background-color: tomato;
  border: 1px solid tomato;
}

/* home page */

.carousel-inner{
  height: 500px;
  width: 500px;
}

.carousel-item{
  background-color:mistyrose;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.home-page-login-btn{
  background-color: yellow;
  transition: 0.5s ease-in-out;
}

.home-page-login-btn:hover{
  background-color: limegreen;
}

.home-page-registration-btn{
  background-color: skyblue;
  transition: 0.5s ease-in-out;
}

.home-page-registration-btn:hover{
  background-color:steelblue;
}

.home-page-login-btn, .home-page-registration-btn{
  padding: 15px;
  color: black;
  font-weight: 600;
  font-size: larger;
  border-radius: 10px;
  text-decoration: none;
}

.home-page-login-btn:hover, .home-page-registration-btn:hover{
  color: black;
}

/* booking form submit */
.booking-form-submit{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.booking-form-submit:hover{
  background-color: gray;
  border: 1px solid gray;
}

/* login form, registration form, and slot booking form */

.login-form-input, 
.registration-form-input, 
.slot-booking-form-input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.login-form-validation-msg, 
.registration-form-validation-msg, 
.slot-booking-form-validation-msg{
  color: red;
}

.login-form-submit{
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.login-form-submit:hover{
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
}

.registration-form-submit{
  background-color:skyblue;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.registration-form-submit:hover{
  background-color:steelblue;
  border: 1px solid steelblue;
}

/* user profile page */
.user-detail-column{
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}


/* admin page */
.admin-portal-stats th, .admin-portal-stats td{
  border: 1px solid black;
  padding: 10px;
}

.slot-update-btn{
  background-color:skyblue;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 5px;
  font-size: small;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.slot-update-btn:hover{
  color: white;
  background-color:steelblue;
  border: 1px solid steelblue;
}

.slot-update-input{
  width: 60px;
  border: 1px solid gainsboro;
}