<div class="container">
    <div class="row mt-5">
        <div class="booking-error-msg text-center">
            <h5 style="color: white;"> @ViewBag.BookingErrorMsg </h5>
            <a style="color:aqua" href="javascript:void(0);" onclick="window.history.back();" class="">Go Back</a>
        </div>
    </div>
</div>